/*--------------------------------------------------------------------------------------------------------------------
 *
 * Template   CleaThin - Clean and Minimal Site Template
 * Version    1.0
 * Author     Valery Timofeev
 *
 *  1. Imports
 *  2. Less [only]
 *        2.1  Variables
 *        2.1  xBrowser Rules
 *  3. General Styles
 *        3.1  Main Classes
 *        3.2  Buttons
 *        3.3  Inputs
 *        3.4  List
 *        3.5  Breadcrumbs
 *        3.6  Pagination
 *        3.7  Progress
 *        3.8  Panels
 *        3.9  Tags
 *        3.10 Social Inline
 *        3.11 Social Share
 *        3.12 Typography
 *        3.13 Iconography
 *        3.14 Backgrounds
 *        3.15 Text Colors & Effects
 *        3.16 Magnific
 *        3.17 Scroll To Top Element
 *        3.18 Preloader
 *        3.19 Form Validation
 *        3.10 Gallery Item
 *  4. Header
 *        4.1 Brand & Navigation (Default Style)
 *              4.1.1 Navigation Style: Fill
 *              4.1.2 Navigation Style: Underline
 *              4.1.3 Affixed Navigation
 *        4.2 No-Mobile
 *  5. Slider
 *        5.1 Main
 *        5.2 Slide Mask
 *        5.3 OWL.Carousel fadeUp
 *  6. Section: Features
 *  7. Section: More Features
 *  8. Section: Projects
 *  9. Section: Statistics
 * 10. Section: Testimonials
 * 11. Section: Contact
 * 12. Section: Clients
 * 13. Section: Skills
 * 14. Section: Our Team
 * 15. Section: Map
 * 16. Modal
 * 17. Footer
 * 18. Inner Pages
 * 19. Blog
 *       19.1  Post
 *       19.2  Widget
 *       19.3  Widget: Menu
 *       19.4  Widget: Latest Posts
 *       19.5  Widget: Search
 *       19.6  Widget: Advert
 *       19.7  Widget: Tags
 *       19.8  Widget: Recent Comments
 *       19.9  Widget: Comments
 * 20. Projects
 *       20.1  Project Carousel
 *       20.2  Project Information
 *       20.3  Projects Carousel
 *       20.4  Projects List
 * 21. 404 Page
 * 22. Animations
 *       22.1  ZoomIn animation
 *       22.2  SubMenu Animation
 * 23. Responsive
 *       23.1  max-width: 991px
 *       23.2  max-width: 767px
 *       23.3  max-width: 480px
 *
 *--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------
 * Imports
 *--------------------------------------------------------------------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,600,500);
@import '../css/bootstrap.min.css';
@import '../css/bootstrap-theme.min.css';
@import '../css/font-awesome.min.css';
@import '../css/owl.carousel.css';
@import '../css/owl.theme.css';
@import '../css/owl.transitions.css';
@import '../css/magnific-popup.css';
@import '../css/elegant-icons.css';
@import '../css/animate.css';
/*--------------------------------------------------------------------------------------------------------------------
 * General Styles
 *--------------------------------------------------------------------------------------------------------------------*/
/*
 * Main Classes
 *--------------*/
* {
  outline: none !important;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #777;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  background: #fff;
}
.relative {
  position: relative !important;
}
.full-wh {
  display: table-cell;
  width: 1%;
  height: 100vh;
  vertical-align: middle;
}
.height-100p {
  height: 100%;
}
.vertical-middle {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.main-container {
  z-index: 2;
  overflow: hidden;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}
.section-small {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-content {
  margin-top: 100px;
}
.section-title {
  margin-bottom: 10px;
}
.section-subtitle {
  margin-bottom: 0;
}
.rounded {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.mt {
  margin-top: 50px;
}
.no-pb {
  padding-bottom: 0;
}
/*
 * Buttons
 *---------*/
.btn,
.btn:hover,
.btn.hover,
.btn:focus,
.btn.focus,
.btn:active,
.btn.active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 9px 22px;
  font-family: inherit;
  color: #fff !important;
  border-color: #409EFF !important;
  background-color: #409EFF !important;
}
.btn:focus,
.btn.focus {
  color: #fff !important;
  border-color: #dd3333 !important;
  background-color: #dd3333 !important;
}
.btn:hover,
.btn.hover {
  color: #fff !important;
  border-color: #ff7777 !important;
  background-color: #ff7777 !important;
}
.btn:active,
.btn.active {
  color: #fff !important;
  border-color: #dd3333 !important;
  background-color: #dd3333 !important;
}
/*
 * Inputs
 *--------*/
.form-control,
.form-control:hover,
.form-control.hover,
.form-control:focus,
.form-control.focus,
.form-control:active,
.form-control.active {
  padding: 9px 22px;
  height: auto;
  font-family: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: solid 1px #eaeaea;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
/*
 * List
 *------*/
.list {
  list-style: none;
  margin: 1px 0 0 1px;
  padding: 20px 10px;
  overflow: hidden;
}
.list li {
  padding: 0 0 20px 30px;
  cursor: pointer;
  border-left: solid 1px #f3f3f3;
}
.list li .title {
  margin-bottom: 10px;
  font-weight: 500;
}
.list li:last-child {
  border-left: none;
}
.list li::before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  content: '';
  position: absolute;
  left: 18px;
  width: 16px;
  height: 16px;
  background: #fff;
  border: solid 1px #409EFF;
}
.list li:hover::before {
  background: #409EFF;
}
.list-inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-inline li {
  display: inline-block;
}
/*
 * Breadcrumbs
 *-------------*/
.breadcrumb {
  margin-top: 7px;
  margin-bottom: 0;
  background: transparent;
  text-align: right;
}
.breadcrumb a {
  color: #777;
}
.breadcrumb a:hover {
  color: #409EFF;
}
/*
 * Pagination
 *------------*/
.pagination {
  margin: 0 0 30px;
}
.pagination li {
  display: inline-block;
}
.pagination li a,
.pagination li span {
  cursor: pointer;
  -webkit-border-radius: 2px !important;
  -moz-border-radius: 2px !important;
  border-radius: 2px !important;
  color: #777;
  font-weight: 100;
}
.pagination li a:hover,
.pagination li span:hover,
.pagination li a.hover,
.pagination li span.hover,
.pagination li a:focus,
.pagination li span:focus,
.pagination li a.focus,
.pagination li span.focus {
  color: #fff !important;
  background: #409EFF !important;
  border-color: #409EFF !important;
}
.pagination li.active a,
.pagination li.active span {
  color: #fff !important;
  background: #409EFF;
  border-color: #409EFF;
}
/*
 * Progress
 *----------*/
.progress {
  height: 2px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.progress .progress-bar {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #409EFF;
}
/*
 * Panels
 *--------*/
.panel {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  margin-top: 0;
}
.panel + .panel {
  margin-top: 0 !important;
}
.panel .panel-heading {
  padding: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.panel .panel-heading .panel-title a {
  display: block;
  padding: 10px 15px;
}
.panel .panel-heading .panel-title a .collapse-icon {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  float: right;
}
.panel .panel-heading .panel-title a.collapsed .collapse-icon {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.panel.panel-theme {
  border: solid 1px #eee;
}
.panel.panel-theme + .panel-theme {
  border-top: none;
}
.panel.panel-theme .panel-heading {
  border: none;
}
.panel.panel-theme .panel-heading a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: 300 !important;
}
.panel.panel-theme .panel-heading a:not(.collapsed) {
  color: #fff;
  background: #409EFF;
}
.panel.panel-theme .panel-body {
  border-top: solid 1px #eee !important;
}
.panel:last-child .panel-heading {
  border-bottom-width: 1px;
}
/*
 * Tags
 *------*/
.tags .tag {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  padding: 3px 7px;
  margin: 0 5px 5px 0;
  color: #777;
  border: solid 1px #eee;
}
.tags .tag:hover {
  color: #fff;
  text-decoration: none;
  background: #409EFF;
  border: solid 1px #409EFF;
}
/*
 * Social Inline
 *---------------*/
.social-inline {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-inline li {
  display: inline-block;
}
.social-inline li a {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px 5px 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 16px;
  color: #409EFF;
}
.social-inline li a:hover {
  text-decoration: none;
  color: #fff;
  background: #409EFF;
}
/*
 * Social Share
 *--------------*/
.social-share {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
  display: table;
  width: 100%;
}
.social-share li {
  display: table-cell;
  text-align: center;
}
.social-share li a {
  display: block;
  line-height: 32px;
  padding: 0 5px;
  border: solid 1px #eee;
  border-right-width: 0;
}
.social-share li a:hover {
  color: #fff;
  background: #409EFF;
  border-color: #409EFF;
}
.social-share li:last-child a {
  border-right-width: 1px;
}
/*
 * Typography
 *------------*/
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5,
.h6,
h6 {
  color: #333;
  font-weight: 400;
  margin: 0 0 30px;
}
.h3,
h3 {
  font-size: 22px;
}
a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
  color: #409EFF;
}
a:hover,
a.hover,
a:focus,
a.focus {
  color: #777;
  text-decoration: none;
}
.strong,
strong {
  font-weight: 500;
}
blockquote {
  font-size: 15px;
  background: #fafafa;
  margin: 0 0 30px;
  border-left: solid 1px #409EFF;
}
p {
  margin: 0 0 30px;
}
/*
 * Iconography
 *------------*/
.fa-1dot5 {
  font-size: 1.5em;
}
/*
 * Backgrounds
 *-------------*/
.bg-light-gray {
  background: #f5f5f5;
}
.bg-tuna {
  background: #32323a url(../img/bg-tuna.jpg);
}
/*
 * Text Colors & Effects
 *-----------------------*/
.text-white {
  color: #fff;
}
.text-theme {
  color: #409EFF;
}
/*
 * Magnific
 *----------*/
.mfp-bg {
  background: rgba(0, 0, 0, 0.7) !important;
}
.mfp-figure::after {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .0;
  -webkit-backface-visibility: hidden;
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1.0;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: .9;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: .0;
}
/*
 * Scroll To Top Element
 *-----------------------*/
.scroll-to-top {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: block;
  position: fixed;
  right: 10px;
  bottom: 10px;
  opacity: .0;
  width: 32px;
  height: 32px;
  z-index: 1001;
  cursor: pointer;
  color: #fff;
  text-align: center;
  line-height: 34px;
  background: #409EFF;
}
.scroll-to-top .icon {
  font-size: 18px;
}
.scroll-to-top.in {
  opacity: .7;
  -webkit-animation: 0.3s animationZoomIn;
  -o-animation: 0.3s animationZoomIn;
  animation: 0.3s animationZoomIn;
}
.scroll-to-top:hover {
  opacity: 1.0;
}
/*
 * Preloader
 *-----------*/
#preloader {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.loaded #preloader {
  background: rgba(255, 255, 255, 0.3);
}
.loader::before {
  position: absolute;
  content: '';
}
.loader,
.loader::before {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 96px;
  height: 96px;
  border: solid 2px transparent;
}
.loader {
  border-top-color: #89b7f3;
  -webkit-animation: loaderAnimation 1s ease-in-out infinite;
  -o-animation: loaderAnimation 1s ease-in-out infinite;
  animation: loaderAnimation 1s ease-in-out infinite;
}
.loader::before {
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top-color: #f5817f;
  -webkit-animation: loaderAnimation 1.4s ease-in infinite;
  -o-animation: loaderAnimation 1.4s ease-in infinite;
  animation: loaderAnimation 1.4s ease-in infinite;
}
@keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loaderAnimation {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*
 * Form Validation
 *-----------------*/
label.error {
  position: absolute;
  top: 20%;
  right: 0;
  padding: 5px 7px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  background: #409EFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-animation: 0.3s animationZoomIn;
  -o-animation: 0.3s animationZoomIn;
  animation: 0.3s animationZoomIn;
}
/*
 * Gallery Item
 *--------------*/
.gallery-image {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.8);
}
.gallery-image img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  max-width: 100%;
}
.gallery-image::before {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: .0;
  background: rgba(255, 255, 255, 0.8);
}
/*.gallery-image::after {*/
  /*-webkit-border-radius: 50%;*/
  /*-moz-border-radius: 50%;*/
  /*border-radius: 50%;*/
  /*-webkit-transition: all 0.5s ease-in-out;*/
  /*-moz-transition: all 0.5s ease-in-out;*/
  /*-ms-transition: all 0.5s ease-in-out;*/
  /*-o-transition: all 0.5s ease-in-out;*/
  /*transition: all 0.5s ease-in-out;*/
  /*display: block;*/
  /*content: '立即体验';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*z-index: 2;*/
  /*margin: auto;*/
  /*width: 64px;*/
  /*height: 64px;*/
  /*color: #fff;*/
  /*font-size: 18px;*/
  /*line-height: 66px;*/
  /*text-align: center;*/
  /*opacity: 0;*/
  /*background: #409EFF;*/
  /*font-family: 'FontAwesome', sans-serif;*/
/*}*/
.gallery-image:hover::before {
  opacity: .7;
}
.gallery-image:hover::after {
  -webkit-animation: 0.5s animationZoomIn;
  -o-animation: 0.5s animationZoomIn;
  animation: 0.5s animationZoomIn;
  opacity: 1.0;
}
.gallery-image:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
/*--------------------------------------------------------------------------------------------------------------------
 * Header
 *--------------------------------------------------------------------------------------------------------------------*/
/*
 * Brand & Navigation
 *--------------------*/
.header {
  /*height: 96px;*/
}
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  z-index: 10;
  width: 100%;
  margin-bottom: 0;
  min-height: 1px;
  font-size: 13px;
  background: #fff;
  border: none;
  /*
   * Navigation Style: Fill
   *-----------------------------*/
  /* /Navigation Style: Fill */
  /*
   * Navigation Style: Underline
   *-----------------------------*/
  /* /Navigation Style: Underline */
  /*
   * Affixed Navigation
   *-----------------------------*/
  /* /Affixed Navigation */
}
.navbar .information {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 32px;
  font-weight: 100;
  line-height: 32px;
  border-bottom: solid 1px #eee;
}
.navbar .information i.fa {
  font-size: 12px;
}
.navbar .information a {
  display: block;
  float: left;
  padding-left: 7px;
  padding-right: 12px;
  border-left: solid 1px #eee;
  color: #777;
  font-weight: 100 !important;
}
.navbar .information a .icon {
  display: inline-block;
  text-align: center;
  width: 24px;
}
.navbar .information a:hover {
  color: #fff;
  background: #409EFF;
  border-color: #409EFF;
}
.navbar .information .social {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .information .social li {
  display: block;
  float: left;
}
.navbar .information .social li a {
  display: block;
  padding-left: 0;
  padding-right: 0;
  width: 32px;
  line-height: 32px;
  vertical-align: middle;
  border-right: solid 1px #eee;
  border-left: none;
}
.navbar .information .social li a:hover {
  color: #fff;
  background: #409EFF;
  border-color: #409EFF;
}
.navbar .brand {
  position: absolute;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  line-height: 64px;
  vertical-align: middle;
}
.navbar .brand .logo-small {
  display: none;
}
.navbar .brand .logo-big {
  display: inline-block;
}
.navbar .nav {
  text-transform: uppercase;
}
.navbar .nav li a {
  margin: 15px 5px;
  padding: 7px 15px;
  color: #777;
  text-shadow: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar .nav li a:hover,
.navbar .nav li a.hover,
.navbar .nav li a:focus,
.navbar .nav li a.focus {
  color: #fff;
  background: #409EFF;
}
.navbar .nav li.dropdown .dropdown-menu {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-transform: capitalize;
  border-top: solid 1px #409EFF;
  left: 4px;
  right: auto;
}
.navbar .navbar-toggle {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-top: 14px;
  border: solid 1px #777;
}
.navbar .navbar-toggle .icon-bar {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: #777;
}
.navbar .navbar-toggle:hover {
  border-color: #409EFF;
}
.navbar .navbar-toggle:hover .icon-bar {
  background: #409EFF;
}
.navbar.navbar-fill .nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar.navbar-fill .nav li.dropdown .dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar.navbar-underline .nav li a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: relative;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 22px;
  padding-bottom: 20px;
  background: transparent;
  border-bottom: solid 2px transparent;
}
.navbar.navbar-underline .nav li a:hover,
.navbar.navbar-underline .nav li a.hover,
.navbar.navbar-underline .nav li a:focus,
.navbar.navbar-underline .nav li a.focus {
  color: #409EFF;
  border-bottom-color: #409EFF;
}
.navbar.navbar-underline .nav li.active a {
  color: #409EFF;
  border-bottom-color: #409EFF;
}
.navbar.navbar-underline .nav li.dropdown .dropdown-menu {
  border-top: none;
}
.navbar.navbar-underline .nav li.dropdown .dropdown-menu a {
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar.affix-top {
  position: fixed;
}
.navbar.affix {
  position: fixed;
  -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.3);
}
.navbar.affix .information {
  height: 0;
  border-bottom-width: 0;
}
.navbar.affix .brand {
  line-height: 55px;
}
.navbar.affix .nav li a {
  margin-top: 10px;
  margin-bottom: 10px;
}
.navbar.affix .navbar-toggle {
  margin-top: 10px;
}
.navbar.affix.navbar-fill .nav li a {
  padding-top: 17px;
  padding-bottom: 17px;
}
.navbar.affix.navbar-underline .nav li a {
  padding-top: 17px;
  padding-bottom: 16px;
}
.no-mobile .dropdown:hover .dropdown-menu {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-animation: 0.3s animationSubMenu;
  -o-animation: 0.3s animationSubMenu;
  animation: 0.3s animationSubMenu;
  display: block;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Slider
 *--------------------------------------------------------------------------------------------------------------------*/
/*
 * Main
 *------*/
.slider {
  width: 100%;
  max-width: 100%;
}
.slider .item {
  height: 500px;
  max-width: 100%;
  overflow: hidden;
}
.slider .item img {
  max-width: 100%;
}
.slider .owl-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
.slider .owl-controls .owl-pagination .owl-page {
  line-height: 24px;
  vertical-align: middle;
}
.slider .owl-controls .owl-pagination .owl-page span {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .7;
  background: transparent;
  border: solid 1px #fff;
}
.slider .owl-controls .owl-pagination .owl-page.active span {
  background: #fff;
}
/*
 * Slide Mask
 *------------*/
.mask {
  position: relative;
  z-index: -1;
}
.mask::before {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .6;
  z-index: 0;
  background: #000;
}
/*
 * OWL.Carousel fadeUp
 *---------------------*/
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom 1.2s ease both;
  -o-animation: scaleUpFrom 1.2s ease both;
  animation: scaleUpFrom 1.2s ease both;
}
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo 1.2s ease both;
  -o-animation: scaleUpTo 1.2s ease both;
  animation: scaleUpTo 1.2s ease both;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Features
 *--------------------------------------------------------------------------------------------------------------------*/
.feature {
  margin-bottom: 30px;
  text-align: center;
}
.feature * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.feature .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 96px;
  height: 96px;
  line-height: 96px;
  font-size: 32px;
  margin: 0 auto 30px;
  color: #409EFF;
  border: solid 1px #409EFF;
}
.feature .title {
  margin-bottom: 30px;
}
.feature .description {
  margin-bottom: 30px;
}
.feature:hover .icon {
  color: #fff;
  background: #409EFF;
}
.feature:hover .title {
  color: #409EFF;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: More Features
 *--------------------------------------------------------------------------------------------------------------------*/
.more-feature {
  margin-bottom: 30px;
}
.more-feature .media-left {
  padding-top: 1px;
  padding-left: 1px;
}
.more-feature .icon {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 32px;
  margin-right: 15px;
}
.more-feature .title {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.more-feature .description {
  margin-bottom: 10px;
}
.more-feature:hover .icon,
.more-feature:hover .title {
  color: #409EFF;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Projects
 *--------------------------------------------------------------------------------------------------------------------*/
.project-item {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  margin-bottom: 30px;
  background: #fff;
}
.project-item .gallery-image {
  margin-bottom: 10px;
}
.project-item .info {
  position: relative;
  padding: 5px 80px 5px 10px;
}
.project-item .info .title {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 5px;
}
.project-item .info .description {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  color: #777;
  margin-bottom: 10px;
}
.project-item .info .social {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: absolute;
  right: 10px;
  bottom: 15px;
  color: #777;
}
.project-item:hover {
  background: #409EFF;
}
.project-item:hover img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.project-item:hover .info .title,
.project-item:hover .info .description,
.project-item:hover .info .social {
  color: #fff;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Statistics
 *--------------------------------------------------------------------------------------------------------------------*/
.stat {
  text-align: center;
}
.stat * {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.stat .icon {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  width: 96px;
  height: 96px;
  color: black;
  font-size: 32px;
  line-height: 96px;
  margin: 0 auto 30px;
  border: solid 1px black;
}
.stat .number {
  color: #409EFF;
}
.stat .title {
  color: black;
  margin-bottom: 0;
}
.stat:hover .icon {
  color: #409EFF;
  border-color: #409EFF;
}
.stat:hover .number {
  color:  #409EFF;
}
.stat:hover .title {
  color: #409EFF;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Testimonials
 *--------------------------------------------------------------------------------------------------------------------*/
.testimonials-carousel .owl-controls {
  position: absolute;
  top: -100px;
  right: 5px;
  text-align: center;
}
.testimonials-carousel .owl-controls .owl-buttons div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 32px;
  height: 32px;
  line-height: 28px;
  opacity: .9;
  background: #409EFF;
}
.testimonials-carousel .owl-controls .owl-buttons div i.fa {
  font-size: 16px;
}
.testimonials-carousel .testimonial {
  margin: 0 10px 0 0;
}
.testimonials-carousel .testimonial .content {
  margin-bottom: 10px;
  background: #fff;
}
.testimonials-carousel .testimonial .content .text {
  margin: 0;
}
.testimonials-carousel .testimonial .author {
  margin-bottom: 5px;
}
.testimonials-carousel .testimonial .company {
  color: #409EFF;
}
.testimonials-carousel .testimonial:nth-child(3n) {
  margin-right: 0;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Contact
 *--------------------------------------------------------------------------------------------------------------------*/
.contact-form {
  margin-bottom: 30px;
}
.contact-form textarea {
  min-height: 200px;
  resize: vertical;
}
.contact-information {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
.contact-information li {
  padding: 10px 0;
  border-bottom: solid 1px #eee;
}
.contact-information li .icon {
  margin-right: 10px;
}
.contact-information li span {
  display: inline-block;
  width: 70px;
  font-weight: 500;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Clients
 *--------------------------------------------------------------------------------------------------------------------*/
.clients-carousel {
  margin-bottom: 30px;
}
.clients-carousel .client {
  line-height: 70px;
  text-align: center;
  vertical-align: middle;
}
.clients-carousel .owl-controls {
  position: absolute;
  top: -75px;
  right: 5px;
  text-align: center;
}
.clients-carousel .owl-controls .owl-buttons div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 32px;
  height: 32px;
  line-height: 28px;
  opacity: .9;
  background: #409EFF;
}
.clients-carousel .owl-controls .owl-buttons div i.fa {
  font-size: 16px;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Skills
 *--------------------------------------------------------------------------------------------------------------------*/
.skills .title {
  font-weight: 500;
  margin-bottom: 10px;
}
.skills .title span {
  float: right;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Our Team
 *--------------------------------------------------------------------------------------------------------------------*/
.team-member {
  margin-bottom: 30px;
}
.team-member .image {
  margin-bottom: 10px;
  max-width: 100%;
  overflow: hidden;
}
.team-member .image img {
  width: 100%;
  max-width: 100%;
}
.team-member .name {
  margin-bottom: 10px;
}
.team-member .post {
  display: block;
  margin-bottom: 10px;
  color: #409EFF;
}
.team-member .text {
  margin-bottom: 10px;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Section: Map
 *--------------------------------------------------------------------------------------------------------------------*/
#map-canvas {
  width: 100%;
  height: 500px;
}
#map-canvas::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .0;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Modal
 *--------------------------------------------------------------------------------------------------------------------*/
.modal {
  text-align: center;
  white-space: nowrap;
}
.modal .modal-dialog {
  display: inline-block;
  margin: 0;
  width: 500px;
  max-width: 98%;
  text-align: left;
  white-space: normal;
  vertical-align: middle;
}
.modal .modal-dialog .modal-content {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding: 20px 20px 0;
  border: none;
  opacity: .0;
}
.modal .modal-dialog .modal-content .modal-header {
  border-bottom: none;
}
.modal .modal-dialog .modal-content .modal-header .modal-title {
  text-transform: uppercase;
}
.modal .close {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.modal::before {
  display: inline-block;
  content: '';
  height: 100%;
  vertical-align: middle;
}
.modal.fade.in .modal-content {
  opacity: 1.0;
}
.modal-result {
  margin-bottom: 30px;
}
.result-icon {
  position: relative;
  margin-bottom: 30px;
}
.result-icon .icon-border {
  position: relative;
  width: 128px;
  height: 128px;
  margin-left: auto;
  margin-right: auto;
}
.result-icon .icon-border .icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 48px;
  line-height: 128px;
  text-align: center;
  color: #409EFF;
}
.result-icon .icon-border svg {
  z-index: 1;
  width: 100%;
  height: 100%;
}
.result-icon .icon-border svg circle {
  fill: none;
  stroke: #409EFF;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 39 39;
  stroke-dashoffset: -39;
  -webkit-transition: stroke-dashoffset 0.5s;
  -moz-transition: stroke-dashoffset 0.5s;
  -ms-transition: stroke-dashoffset 0.5s;
  -o-transition: stroke-dashoffset 0.5s;
  transition: stroke-dashoffset 0.5s;
}
.result-icon .icon-border::after {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: solid 3px #eee;
}
.in .icon-border .icon {
  -webkit-animation: 0.5s bounceIn;
  -o-animation: 0.5s bounceIn;
  animation: 0.5s bounceIn;
}
.in .icon-border svg circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.5s linear 0.5s;
  -moz-transition: stroke-dashoffset 0.5s linear 0.5s;
  -ms-transition: stroke-dashoffset 0.5s linear 0.5s;
  -o-transition: stroke-dashoffset 0.5s linear 0.5s;
  transition: stroke-dashoffset 0.5s linear 0.5s;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Footer
 *--------------------------------------------------------------------------------------------------------------------*/
.footer {
  border-top: solid 2px #409EFF;
  padding-bottom: 10px;
}
.footer p {
  margin-bottom: 10px;
}
.footer .logo {
  margin-bottom: 20px;
}
.footer .footer-col {
  margin-bottom: 30px;
}
.footer .subtitle {
  margin-bottom: 5px;
}
.footer .post {
  margin-bottom: 10px;
}
.footer .post .image {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.footer .post .text {
  margin-bottom: 5px;
}
.footer .menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .menu li {
  position: relative;
  padding-left: 15px;
}
.footer .menu li a {
  display: block;
  padding-bottom: 4px;
  font-weight: 500;
  color: #777;
}
.footer .menu li::before {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  display: block;
  content: '';
  position: absolute;
  top: 7px;
  left: 2px;
  width: 5px;
  height: 5px;
  background: #777;
}
.footer .menu li:hover a {
  color: #409EFF;
}
.footer .menu li:hover::before {
  background-color: #409EFF;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Inner Pages
 *--------------------------------------------------------------------------------------------------------------------*/
.section-page-header {
  margin-bottom: 50px;
  padding: 30px 0;
  background: #f5f5f5;
  border-top: solid 1px #eaeaea;
  border-bottom: solid 1px #eaeaea;
}
.section-page-header .title {
  color: #555;
  font-size: 24px;
  padding: 0;
  margin-bottom: 5px;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Blog
 *--------------------------------------------------------------------------------------------------------------------*/
/*
 * Post
 *------*/
.blog-post {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: solid 1px #eee;
}
.blog-post .image {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}
.blog-post .image img {
  width: 100%;
  max-width: 100%;
}
.blog-post .image iframe {
  width: 100%;
  max-width: 100%;
}
.blog-post .image .image-overlay {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .0;
  background: rgba(255, 255, 255, 0.8);
}
.blog-post .image .image-overlay .icon-wr {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: block;
  width: 64px;
  height: 64px;
  font-size: 32px;
  line-height: 68px;
  text-align: center;
  color: #fff;
  background: #409EFF;
}
.blog-post .image .image-overlay .icon-wr .icon {
  display: inline-block;
}
.blog-post .image:hover .image-overlay {
  opacity: .9;
}
.blog-post .image:hover .image-overlay .icon-wr {
  -webkit-animation: 0.5s animationZoomIn;
  -o-animation: 0.5s animationZoomIn;
  animation: 0.5s animationZoomIn;
}
.blog-post .title {
  font-size: 24px;
  margin-bottom: 10px;
}
.blog-post .meta {
  margin-bottom: 30px;
}
.blog-post .meta li {
  padding-left: 0;
}
.blog-post .meta li::after {
  display: inline-block;
  content: '/';
  margin-left: 10px;
  margin-right: 0;
}
.blog-post .meta li:last-child::after {
  display: none;
}
.blog-post .content {
  margin-bottom: 30px;
}
.blog-post .information .tags,
.blog-post .information .social-inline {
  line-height: 22px;
  vertical-align: middle;
}
.blog-post .information .social-inline {
  float: right;
}
/*
 * Widget
 *--------*/
.widget {
  margin-bottom: 30px;
}
.widget .title {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.widget .title::after {
  display: block;
  content: '';
  margin-top: 5px;
  width: 15%;
  height: 1px;
  background: #409EFF;
}
/*
 * Widget: Menu
 *--------------*/
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-weight: normal;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #777;
  border-bottom: solid 1px #eee;
}
.sidebar-menu li a:hover {
  color: #409EFF;
  padding-left: 10px;
}
/*
 * Widget: Latest Posts
 *----------------------*/
.latest-posts {
  list-style: none;
  margin: 0;
  padding: 0;
}
.latest-posts .post {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}
.latest-posts .post .image {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.latest-posts .post .text {
  margin-bottom: 5px;
}
/*
 * Widget: Search
 *----------------*/
/*
 * Widget: Advert
 *----------------*/
.advert {
  width: 100%;
  height: 250px;
  min-height: 250px;
}
/*
 * Widget: Tags
 *--------------*/
/*
 * Widget: Recent Comments
 *-------------------------*/
.recent-comments {
  list-style: none;
  margin: 0;
  padding: 0;
}
.recent-comments li {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}
/*
 * Widget: Comments
 *------------------*/
.comments {
  position: relative;
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.comments .image {
  overflow: hidden;
}
.comments .image img {
  max-width: 60px;
}
.comments .author {
  margin-bottom: 10px;
}
.comments .date {
  display: block;
  margin-bottom: 10px;
}
.comments .text {
  margin-bottom: 10px;
}
.comments li {
  margin-bottom: 30px;
}
.comments ul {
  padding-left: 70px;
}
.send-comment textarea {
  min-height: 150px;
  resize: vertical;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Projects
 *--------------------------------------------------------------------------------------------------------------------*/
/*
 * Project Carousel
 *------------------*/
.project-carousel {
  margin-bottom: 130px;
}
.project-carousel .owl-wrapper-outer {
  z-index: 1;
}
.project-carousel .owl-controls {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.project-carousel .owl-controls .owl-pagination {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  z-index: 1;
}
.project-carousel .owl-controls .owl-pagination .owl-page {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 100px;
  width: 25%;
  vertical-align: middle;
  border: solid 0 #fff;
  border-top-width: 1px;
  border-right-width: 1px;
  opacity: .8;
}
.project-carousel .owl-controls .owl-pagination .owl-page span {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: .7;
  background: transparent;
  border: none;
}
.project-carousel .owl-controls .owl-pagination .owl-page.active {
  opacity: 1.0;
}
.project-carousel .owl-controls .owl-pagination .owl-page:hover {
  opacity: 1.0;
}
.project-carousel .owl-controls .owl-pagination .owl-page:nth-child(4n) {
  border-right-width: 0;
}
.project-carousel .owl-controls .owl-buttons {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.project-carousel .owl-controls .owl-buttons .owl-prev,
.project-carousel .owl-controls .owl-buttons .owl-next {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  margin: auto 0;
  width: 48px;
  height: 48px;
  font-size: 32px;
  line-height: 44px;
  color: #777;
  background: rgba(255, 255, 255, 0.95);
}
.project-carousel .owl-controls .owl-buttons .owl-prev:hover,
.project-carousel .owl-controls .owl-buttons .owl-next:hover {
  background: #ffffff;
}
.project-carousel .owl-controls .owl-buttons .owl-prev {
  left: 0;
}
.project-carousel .owl-controls .owl-buttons .owl-next {
  right: 0;
}
/*
 * Project Information
 *---------------------*/
.project-information .title {
  position: relative;
  padding-bottom: 10px;
  border-bottom: solid 1px #eee;
}
.project-information .title::after {
  display: block;
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 20%;
  height: 1px;
  background: #409EFF;
}
.project-information p {
  text-align: justify;
}
.project-information .details {
  list-style: none;
  margin: 0 0 30px;
  padding: 0;
}
.project-information .details li {
  padding: 5px 0;
  border-bottom: solid 1px #eee;
}
.project-information .details li span {
  display: inline-block;
  width: 50px;
  font-weight: 500;
}
/*
 * Projects Carousel
 *-------------------*/
.projects-carousel .recent-project {
  margin-right: 10px;
}
.projects-carousel .recent-project .image-popup {
  display: block;
}
.projects-carousel .recent-project .info {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;
  color: #777;
}
.projects-carousel .recent-project .info .title {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}
.projects-carousel .recent-project .info .description {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
}
.projects-carousel .recent-project:hover .info {
  padding-left: 10px;
  color: #fff;
  background: #409EFF;
}
.projects-carousel .recent-project:hover .info .title {
  color: #fff;
}
.projects-carousel .recent-project:nth-child(4n) {
  margin-right: 0 !important;
}
.projects-carousel .owl-controls {
  position: absolute;
  top: -100px;
  right: 5px;
  text-align: center;
}
.projects-carousel .owl-controls .owl-buttons div {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 32px;
  height: 32px;
  line-height: 28px;
  opacity: .9;
  background: #409EFF;
}
.projects-carousel .owl-controls .owl-buttons div i.fa {
  font-size: 16px;
}
/*
 * Projects List
 *---------------*/
.projects-list {
  margin-bottom: 30px;
  overflow: hidden;
}
.projects-list .project-image {
  margin-bottom: 30px;
}
/*--------------------------------------------------------------------------------------------------------------------
 * 404 Page
 *--------------------------------------------------------------------------------------------------------------------*/
.page-404 h1 {
  font-size: 80px;
  font-weight: 600;
}
/*--------------------------------------------------------------------------------------------------------------------
 * Animations
 *--------------------------------------------------------------------------------------------------------------------*/
/* ZoomIn animation */
@-moz-keyframes animationZoomIn {
  from {
    -webkit-transform: scale(0.7) translateY(-100%);
    -moz-transform: scale(0.7) translateY(-100%);
    -ms-transform: scale(0.7) translateY(-100%);
    -o-transform: scale(0.7) translateY(-100%);
    transform: scale(0.7) translateY(-100%);
  }
  to {
    -webkit-transform: scale(1) translateY(none);
    -moz-transform: scale(1) translateY(none);
    -ms-transform: scale(1) translateY(none);
    -o-transform: scale(1) translateY(none);
    transform: scale(1) translateY(none);
  }
}
@keyframes animationZoomIn {
  from {
    -webkit-transform: scale(0.7) translateY(-100%);
    -moz-transform: scale(0.7) translateY(-100%);
    -ms-transform: scale(0.7) translateY(-100%);
    -o-transform: scale(0.7) translateY(-100%);
    transform: scale(0.7) translateY(-100%);
  }
  to {
    -webkit-transform: scale(1) translateY(none);
    -moz-transform: scale(1) translateY(none);
    -ms-transform: scale(1) translateY(none);
    -o-transform: scale(1) translateY(none);
    transform: scale(1) translateY(none);
  }
}
/* SubMenu Animation */
@-moz-keyframes animationSubMenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%) scale(0.8);
    -moz-transform: translateY(10%) scale(0.8);
    -ms-transform: translateY(10%) scale(0.8);
    -o-transform: translateY(10%) scale(0.8);
    transform: translateY(10%) scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
@keyframes animationSubMenu {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%) scale(0.8);
    -moz-transform: translateY(10%) scale(0.8);
    -ms-transform: translateY(10%) scale(0.8);
    -o-transform: translateY(10%) scale(0.8);
    transform: translateY(10%) scale(0.8);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    -moz-transform: translateY(0) scale(1);
    -ms-transform: translateY(0) scale(1);
    -o-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }
}
/*--------------------------------------------------------------------------------------------------------------------
 * Responsive
 *--------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width: 991px) {
  .header {
    height: 64px;
  }
  .breadcrumb {
    float: none;
    text-align: left !important;
    padding-left: 0 !important;
  }
}
@media screen and (max-width: 767px) {
  .brand .logo-big {
    display: none !important;
  }
  .brand .logo-small {
    display: inline-block !important;
  }
  .slider {
    text-align: center;
  }
  .stat {
    margin-bottom: 30px;
  }
  .footer .signup-form .btn-theme {
    display: block;
    width: 100%;
  }
  .blog-post .social-inline {
    float: none !important;
  }
}
@media screen and (max-width: 480px) {
  .testimonials-carousel .owl-controls {
    position: static;
  }
  .footer .footer-col {
    float: none;
    width: 100%;
  }
  .footer hr {
    display: none;
  }
}
